body {
    background-color: #61A9FA;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    /*
    background-color: #3f37c9;
    */
}

nav {
    width: 100%;
    height: 10px;
    float: left;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding: 0px 20px;
    position: relative;
  }

nav a {
    font-size: 50px;
    text-decoration: none;
    font-family: 'Arvo', serif;
    font-weight: 800;
    color: whitesmoke;
}


nav a:hover{
    color: #9bb9b9;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #FEECD4;
  
    position: absolute;
    top: 0;
    width: 0%;
  
    transition: all ease-in-out 250ms;
  }
  
  nav a:hover::before {
    width: 100%;
  }

  .post {
    width: 50vw;
    min-width: 400px;
    height: 100px;
    display: block;
    margin: auto;
    padding: 50px 0;
}



.title,
.article {
    width: 100%;
    min-height: 100px;
    height: auto;
    outline: none;
    font-size: 50px;
    font-weight: 600;
    color: #2d2d2d;
    resize: none;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

.title::placeholder,
.article::placeholder {
    color: #2d2d2d;
}

.article {
    height: 500px;
    font-size: 20px;
    margin-top: 20px;
    line-height: 30px;
    font-weight: 500;
    padding-bottom: 100px;
    white-space: pre-wrap;
}

.post-options {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #61A9FA;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post_button {
    background-color: #61A9FA;
    color: whitesmoke;
    font-size: 40px;
}

.btn {
    border: none;
    outline: none;
    cursor: pointer;
}

.btn.grey {
    background: #a5a5a5;
    color: #fff;
    margin-left: 20px;
    font-size: 14px;
}
  
