<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="../static/images/favicon_io/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon_io/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon_io/favicon-16x16.png">
        <link rel="manifest" href="../static/images/favicon_io/site.webmanifest">
        <script src="./js/select_subject.js"></script>
    </head>
    <body>
        <nav>
            <ul>
                <li><a class="homepage" href="/s/index.html">Crowd</a></li>
                <li><a class="login" href="/s/login.html">Log In</a></li>
                <li><a class="signup" href="/s/signup.html">Sign Up</a></li>
            </ul>
        </nav>
        <div>
            {{title}}
        </div>
        <br>
        <div>
            {{article}}
        </div>
    </body>
</html>