<!DOCTYPE html>
<html>
    <head>
        <title>Profile</title>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="s/css/style.css">
    </head>
    <body>
        <table>
            <tr>
                <td>Username:</td>
                <td>{{username}}</td>
            </tr>
            <tr>
                <td>Age:</td>
                <td>{{age}}</td>
            </tr>
            <tr>
                <td>The School You Attend:</td>
                <td>{{school}}</td>
            </tr>
            <tr>
                <td>City: </td>
                <td>{{city}}</td>
            </tr>
            <tr>
                <td>Major:</td>
                <td>{{major}}</td>
            </tr>
        </table>
    </body>
</html>
